In [1]:
import sys

import pandas as pd
import numpy as np
from pathlib import Path
import os

root = Path().resolve().parent.parent
sys.path.append(root)
root

from saudi_arabia.strats.hurst import HurstGoldSilverStrategy

In [2]:
data = pd.read_csv(root / 'data' / 'goldsilver.csv', index_col=0)
data = data.iloc[:,:2]
data

                   Gold    Silver
Dates
18.11.24 00:00  2568.13  30.30300
18.11.24 00:05  2570.71  30.33650
18.11.24 00:10  2572.75  30.35825
18.11.24 00:15  2572.39  30.36550
18.11.24 00:20  2575.55  30.38650
...                 ...       ...
NaN                 NaN       NaN
NaN                 NaN       NaN
NaN                 NaN       NaN
NaN                 NaN       NaN
NaN                 NaN       NaN

[37952 rows x 2 columns]

In [ ]:
strategy = HurstGoldSilverStrategy(initial_capital=100000)
results, metrics = strategy.backtest(data)
print(f"Sharpe Ratio: {metrics['sharpe_ratio']:.2f}")
print(f"Total P&L: ${metrics['total_pnl']:.2f}")